.progress-div {
    box-sizing: border-box;
    padding-bottom: 15px;
    margin: 15px 0px 30px 1%;
  }
  
  .progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
  }
  
  .progress li {
    float: left;
    padding: 10px 30px 10px 40px;
    background: #3F51B5;
    color: #fff;
    position: relative;
    width: 10%;
    margin: 0 1px;
  }
  
  .progress li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress li:not(:first-child):before {
    border-left: 16px solid #fff;
    border-top: 16px solid #3F51B5;
    border-bottom: 16px solid #3F51B5;
  }
  
  .progress li:after {
    content: '';
    border-left: 16px solid #3F51B5;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
  }
  
  .progress li.inactive {
    background: #555;
    cursor: pointer;
  }
  
  .progress li.inactive:hover {
    background: #33B0FF;
  }
  
  .progress li.inactive:after {
    border-left-color: #555;
  }
  
  .progress li.inactive:hover::after {
    border-left-color: #33B0FF;
  }
  
  .progress li.completed {
    width: 2% !important;
  }
  
  .progress .active-status {
    font-weight:bold;
  }