<div>
  <mat-card>
    <mat-card-title> Sign Up </mat-card-title>

    <mat-card-content>
      <form
        fxLayout="column"
        fxLayout.lt-md="column"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
        <div fxLayout="column" fxLayout.lt-lg="column">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="passwordConfirmation"
            />
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <button type="submit" mat-raised-button color="primary">
            Sign Up
          </button>
          <button
            type="button"
            [routerLink]="['/auth']"
            mat-button
            color="primary"
          >
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
