<div>
  <mat-card>
    <mat-card-title> Login </mat-card-title>

    <mat-card-content>
      <form
        fxLayout="column"
        fxLayout.lt-md="column"
        [formGroup]="authForm"
        (ngSubmit)="onSubmit(formGroupDirective)"
        #formGroupDirective="ngForm"
      >
        <div fxLayout="column" fxLayout.lt-lg="column">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <button type="submit" mat-raised-button color="primary" fxFill>
            Login&nbsp;&nbsp;
            <mat-icon>login</mat-icon>
          </button>
        </div>

        <div fxLayout="column">
          <button
            type="button"
            [routerLink]="['register']"
            mat-button
            color="primary"
            fxFill
          >
            Register&nbsp;&nbsp;
            <mat-icon>how_to_reg</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
