<div class="item">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title
        [routerLink]="['../projects', project.id]"
        routerLinkActive="active"
      >
        {{ project.task.title }}
      </mat-panel-title>
      <mat-panel-description>
        Priority: {{ project.task.priority }} | Owner:
        {{ project.task.owner_id }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ project.task.description }}</p>
    <!-- <app-add-edit-project></app-add-edit-project> -->
    <mat-action-row>
      <button
        [routerLink]="['../editproject', project.id]"
        routerLinkActive="active"
        mat-stroked-button
        color="primary"
      >
        Edit
      </button>
      <button mat-stroked-button color="warn" (click)="onDelete()">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
