<div class="item">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title
        [routerLink]="['../projects', task.id]"
        routerLinkActive="active"
      >
        {{ task.title }}
      </mat-panel-title>
      <mat-panel-description>
        Priority: {{ task.priority }} | Owner:
        {{ task.owner_id }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ task.description }}</p>
    <app-add-edit-task
      *ngIf="addTaskMode"
      [parent_id]="task.id"
    ></app-add-edit-task>
    <mat-action-row fxLayout="row">
      <button
        [routerLink]="['../editproject', task.id]"
        routerLinkActive="active"
        mat-stroked-button
        color="primary"
      >
        Edit
      </button>
      <button mat-stroked-button color="accent" (click)="toggleAddMode()">
        {{ addTaskMode ? "Discard Task" : "Add Task" }}
      </button>
      <button mat-stroked-button color="warn" (click)="onDelete()">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
