<div class="item">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title [routerLink]="['/project']" routerLinkActive="active">
        Project Name
      </mat-panel-title>
      <mat-action-row>
        <button mat-button color="primary">Edit</button>
      </mat-action-row>
      <mat-panel-description>
        Priority: High | Owner: Derek Reeter
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is a summary of the project. It's the real deal and everything.</p>
  </mat-expansion-panel>
</div>
