<div class="item">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title [routerLink]="['/project']" routerLinkActive="active">
        {{ project.title }}
      </mat-panel-title>
      <mat-action-row>
        <button mat-button color="primary">Edit</button>
      </mat-action-row>
      <mat-panel-description>
        Priority: {{ project.priority }} | Owner: {{ project.owner }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ project.description }}</p>
  </mat-expansion-panel>
</div>
