<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmall$ | async) ? 'over' : 'side'"
    [opened]="(isSmall$ | async) === false"
  >
    <mat-toolbar>Hello, Derek!</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['projects']" routerLinkActive="active">
        <mat-icon>folder_copy</mat-icon> &nbsp;&nbsp;&nbsp; Projects</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isSmall$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Projector</span>
    </mat-toolbar>

    <div id="router-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
